@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply text-dark;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: all 300ms;
  background-repeat: no-repeat;
}

:root {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  margin: 0;
  min-height: 100vh;
  position: relative;
}

/* Handle themes */
.theme_first {
  --text-color: #ffffff;
  --text-button-primary: #252D44;
  --text-button-secondary: #ffffff;
  --background-main: #3B4664;
  --background-keypad: #252D44;
  --background-input: #252D44;
  --button-primary: #EAE3DB;
  --button-secondary: #647299;
  --button-third: #D13F30;
}

.theme_second {
  --text-color: #212121;
  --text-button-primary: #212121;
  --text-button-secondary: #ffffff;
  --background-main: #E6E6E6;
  --background-keypad: #D3CDCD;
  --background-input: #EEEEEE;
  --button-primary: #E5E4E0;
  --button-secondary: #388187;
  --button-third: #C85401;
}

.theme_third {
  --text-color: #ffff00;
  --text-button-primary: #ffff00;
  --text-button-secondary: #ffffff;
  --background-main: #17062A;
  --background-keypad: #1E0836;
  --background-input: #1E0836;
  --button-primary: #331B4D;
  --button-secondary: #56077C;
  --button-third: #00DECF;
}
